@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-text: #eff0eb;
    --color-background: #0b0c05;
    --color-background-lighter: #0d1107;
    --color-primary: #c1c4b1;
    --color-secondary: #397732;
    --color-accent: #54b856;
    --color-entry: #1d1e19;
    --color-entry-hover: #494a41;
    --color-input: #24351d;
}

@font-face {
    font-family: 'Baloo';
    src: url('/font/Baloo2-VariableFont_wght.ttf');
}

* {
    font-family: 'Baloo', sans-serif;
}

article p {
    margin: 12px 0 12px 0;
}

article h1 {
    font-size: 2rem;
    font-weight: bold;
}

article h2 {
    font-size: 1.75rem;
    font-weight: bold;
}

article h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

article h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

article h5 {
    font-size: 1.125rem;
    font-weight: bold;
}

article h6 {
    font-size: 1rem;
    font-weight: bold;
}