.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--color-primary);
    text-align: center;
    z-index: -2;
}

.footer > * {
    margin-bottom: 0.5rem;
}
